input {
    width: 100%;
    margin: 15px 0;
}

input::placeholder{
    opacity: 0.5;
}

button {
    cursor: pointer;
}

/*
CSS for MODAL BOX
 */
#modalHeader{
    background: lightslategray;
    color: white;
}

#modalFooter{
    background: ghostwhite;
}

#modalAvatar {
    background: aliceblue;
}

#modalImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
CSS for NEW USER section
 */

#btnNewUser {
    width: 25%;
    margin-left: 37%;
    margin-right: 38%;
    background-color: lightslategray;
    border-color: aliceblue;
    color: white;
}

#btnNewUser:hover {
    background-color: slategray;
}

/*
CSS for EDIT USERS section
 */

#userID, #userEmail, #userFirstName, #userLastName {
    padding: 3px;
}

#btnSaveUser {
    background-color: lawngreen;
    padding: 5px;
    border: none;
    color: white;
}

#btnDeleteUser {
    float: right;
    background-color: orangered;
    padding: 5px;
    border: none;

}

#btnSaveUser:hover, #btnDeleteUser:hover {
    background-color: lightslategray;
    color: white;
}

/*
CSS for USERS TABLE section
 */

th {
    border: 2px solid;
    background: lightslategray;
    color: white;
}

td {
    text-align: center;
    background: ghostwhite;
}

#users {
    cursor: pointer;
}

#pageNumbers {
    text-align: center;
}

#btnNext {
    float: right;
}

#btnNext, #btnPrevious {
    background: lightslategray;
    border-color: aliceblue;
    color: white;
}

#btnNext:hover, #btnPrevious:hover {
    background: slategray;
}

/*
CSS for COLOURING and HEADINGS
 */

#header {
    background: aliceblue;
}

#usersTable, #newUserContainer, #userContainer{
    background: aliceblue;
}

#userHeading, #newUserHeading, #usersTableHeading {
    background: lightslategray;
    color: white;
}
